{% extends 'base.html' %}
	{% block title %} Скачать посты сообщества {% endblock %}
	{% block meta %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<style type="text/css">
			input{width: 100%}
			input.radio{width: 10%}
			input.submit{width: 20%}
			select{width: 100%}
			ul{list-style-type: none}
		</style>
	{% endblock %}
	{% block content %}
		<h3>Вставьте ссылку на сообщество, данные которого Вы хоите скачать</h3>
		<form class="container" action="/file">
			<div class="row">
				<input type="text" name="group_link" placeholder="https://vk.com/schooloflinguistics">
			</div>
			<div class="row">
				<input class="submit" type="submit" name="submit" value="Отправить">
			</div>
		</form>
	{% endblock %}